### Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# Process

### Data Import

In [2]:
df = pd.read_csv("../Data/merged.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639424 entries, 0 to 639423
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             639424 non-null  object
 1   rideable_type       639424 non-null  object
 2   started_at          639424 non-null  object
 3   ended_at            639424 non-null  object
 4   start_station_name  551320 non-null  object
 5   start_station_id    551188 non-null  object
 6   end_station_name    546408 non-null  object
 7   end_station_id      546267 non-null  object
 8   start_lat           639424 non-null  float64
 9   start_lng           639424 non-null  float64
 10  end_lat             638998 non-null  float64
 11  end_lng             638998 non-null  float64
 12  member_casual       639424 non-null  object
dtypes: float64(4), object(9)
memory usage: 63.4+ MB

### Calculate ride length

In [24]:
date_format = '%Y-%m-%d %H:%M:%S'
ride_format = '%H:%M:%S'

# Convert strings to datetime
df['started_at'] = pd.to_datetime(df['started_at'],format=date_format)
df['ended_at'] =  pd.to_datetime(df['ended_at'],format=date_format)

# Calculate the time difference and store it in a new column
df['ride_length'] = (df['ended_at'] - df['started_at']).dt.total_seconds()

# Convert to seconds to ride_format
df['ride_length'] = df['ride_length'].apply(lambda x: f'{int(x // 3600)}:{int((x % 3600) // 60)}:{int(x % 60)}')

Example

In [30]:
df['ride_length'].head()

0    0:10:51
1     0:8:29
2    0:13:14
3     0:8:46
4    0:15:19
Name: ride_length, dtype: object

### Calculate day of the week ride started
1 = monday, 7 = sunday

In [28]:
df['day_of_week'] = df['started_at'].dt.day_name()

Example

In [29]:
df['day_of_week'].head()

0    Saturday
1     Tuesday
2      Monday
3      Sunday
4    Thursday
Name: day_of_week, dtype: object

# Analyze

In [ ]:
###